{% section 'CommunityIndex' %}
<div class="container text-center" style="margin-top: 20px; margin-bottom: 20px">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="row">
        {% section 'bigBlogPost' %}
        {% section 'smallBlogPosts' %}
        {% section 'quotes' %}
        {% section 'addTestimonial' %}
      </div>
    </div>
    <div class="col-lg-4">
      {% section 'igFeed' %}
    </div>
  </div>
</div>