
<div>
  {% section 'growerIndex'%}
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        {{ page.content }}
      </div>
      <div class="rte">

      </div>
      {% section 'growers' %}
    </div>
  </div>
</div>
