<div class="container" style="height: 100%; width: 100%;">
  <h2>Instagram</h2>
  <div id="insta-feed"></div>
</div>

{% schema %}
  {
    "name": "Instagram Feed",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
